:root {
    --hex_size: 500px; /* Size of the hexahons */
    --border_radius: 25%;
    --glow_size: 15em;
    --grid_height: 150vh;
    --grid_width: 100vw;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    overflow-x: hidden;
}

.container {
    top: 0;
    left:0;
    background: #2b2b2b;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    position: relative;
    overflow: hidden;
}

#hex-grid {
    height: var(--grid_height);
    width: var(--grid_width);
    background: #000;
}

#hex-grid .grid {
    position: absolute;
    background: url(./images/grid.svg)repeat;
    width: var(--grid_width);
    height: var(--grid_height);
    z-index: 0;
    background-size: var(--hex_size);
}

#hex-grid .light {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: var(--glow_size);
    height: var(--glow_size);
    filter: blur(15px);
    background: linear-gradient(90deg, #335bf4 0%, #2ae9c9 100%);
    z-index: 0;
    border-radius: var(--border_radius);
}